<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnotherBulldoze.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AnotherBulldoze.Properties.Settings>
            <setting name="Roads" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Railroads" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Highways" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Buildings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Trees" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PowerLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Props" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Pipes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Tunnel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Bridge" serializeAs="String">
                <value>True</value>
            </setting>
        </AnotherBulldoze.Properties.Settings>
    </userSettings>
</configuration>